:root {
    /* Primary Colors */
    --clr-Dark-purple: #A294F9;
    --clr-Medium-purple: #CDC1FF;
    --clr-Light-purple: #E5D9F2;
    --clr-Soft-purple: #F5EFFF;
    /* Font family Sizes , Weight  */

}